body {
    background-color: #42B540FF;
    font-family: cursive;
    text-align: center;
}

#characterCard {
    background-color: grey;
    border: solid;
    border-color: black;
    border-radius: 50px;
    border-width: thick;
    color: white;
    display: inline-block;
    width: 315px;
}

#characters {
    list-style-position: inside;
    margin-left: 40%;
    text-align: left;
}

img {
    border-radius: 50px;
    margin-top: 5px;
}