body {
    background-color: #42B540FF;
    text-align: center;
}

#characterCard {
    background-color: grey;
    color: white;
}

#characters {
    list-style-position: inside;
    margin-left: 45%;
    text-align: left;
}