body {
    background-color: green;
    font-family: cursive;
    text-align: center;
}

#characterCardHolder {
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#characters {
    list-style-position: inside;
    margin-left: 40%;
    text-align: left;
}

.character {
    background-color: grey;
    border: solid;
    border-color: black;
    border-radius: 50px;
    border-width: thick;
    margin: 10px;
    width: 315px;
}

img {
    border: black 2px double;
    border-radius: 50px;
    margin-top: 5px;
}